{% extends "base.html" %}

{% block title %}

<title>{{ book.name }}</title>

{% endblock %}

{% block content %}

<h1>Info about the book</h1>
<img src="{{ url_for('static', filename=book.image) }}" class="rounded float-right" alt="Book image" width="200" height="200">
<h2>Name</h2>
<p>{{ book.name }}</p>
<h2>Author</h2>
<p>{{ book.author }}</p>
<h2>Page count</h2>
<p>{{ book.page_count }}</p>
<h2>Date</h2>
<p>{{ book.date.strftime("%B %Y") }}</p>
<h2>Copy count</h2>
<p>{{ book.copy_count }}</p>
{% if current_user.admin %}
<a class="btn btn-dark" href="{{ url_for('book_edit', book_id=book.id) }}">Edit Book</a>
{%endif%}

{% endblock %}