<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid" alt="Logo" width="40" height="40">
    </a>
    <a class="navbar-brand" href="{{ url_for('home') }}">OnlineLibrary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item {% if request.path == url_for('home') %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('home') }}">Books</a>
        </li>
        <li class="nav-item {% if request.path == url_for('orders') %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('orders') }}">Orders</a>
        </li>
        {% endif %}
        {% if current_user.admin %}
        <li class="nav-item {% if request.path == url_for('users') %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('users') }}">Users</a>
        </li>
        {% endif %}     
      </ul>
      <ul class="navbar-nav ">
        {% if current_user.is_authenticated %}
        <li class="nav-item {% if request.path == login_url %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('user', user_id=current_user.id) }}">{{ current_user.first_name }} {{ current_user.last_name }}</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" href="{{ url_for('logout') }}">Log out</a>
        </li>
        {% else %}
        <li class="nav-item {% if request.path == login_url %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-secondary" href="{{ url_for('register') }}">Sign up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>