{% from 'bootstrap5/form.html' import render_form_row %}
{% extends "base.html" %}

{% block title %}

<title>Books</title>

{% endblock %}

{% block content %}

<legend>Search books</legend>
<form method='POST'>
    {{ form.csrf_token() }}
    {{ render_form_row([form.name, form.author, form.date_from, form.date_to, form.sort_by, form.submit]) }}
</form>
<legend>Books</legend>
<table class="table">  
    <thead>
        <tr class="table-active">    
            <th scope="col">Name</th>       
            <th scope="col">Author</th>      
            <th scope="col">Page count</th>       
            <th scope="col">Date</th>       
            <th scope="col">Copy count</th>      
            <th scope="col">
                Actions
                {% if current_user.admin %}
                <a class="action-icon text-decoration-none" href="{{ url_for('book_add') }}" title="Create book">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#plus-circle-fill"/>
                    </svg>
                </a>
                {% endif %} 
            </th>       
        </tr>
    </thead>
    <tbody>
    {% for item in books %}    
        <tr>          
            <th scope="row">{{ item.name }}</th>            
            <td>{{ item.author }}</td>           
            <td>{{ item.page_count }}</td>            
            <td>{{ item.date.strftime("%B %Y") }}</td>            
            <td>{{ item.copy_count }}</td>                  
            <td>
                <a class="action-icon text-decoration-none" href="{{ url_for('order_book', book_id=item.id) }}" title="Order">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#basket-fill"/>
                    </svg>
                </a>
                <a class="action-icon text-decoration-none" href="{{ url_for('book', book_id=item.id) }}" title="Show">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#eye-fill"/>
                    </svg>
                </a>
                {% if current_user.admin %}
                <a class="action-icon text-decoration-none" href="{{ url_for('book_edit', book_id=item.id) }}" title="Edit">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#pencil-fill"/>
                    </svg>
                </a>
                <a class="action-icon text-decoration-none" href="{{ url_for('book_delete', book_id=item.id) }}" title="Delete">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#trash-fill"/>
                    </svg>
                </a>   
                {% endif %}           
            </td>            
        </tr>
        {%endfor%}  
    </tbody>
</table>


{% endblock %}