{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}

{% block title %}

<title>Log in</title>

{% endblock %}

{% block content %}

<form method='POST'>
    <div class="col-md-4">
        <fieldset class="form-group">
            <legend>Log in</legend>
            {{ render_form(form) }}   
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Log in</button>
        </div>
    </div>
</form>

{% endblock %}