<table class="table">  
    <thead>
        <tr class="table-active">    
            <th scope="col">ID</th>
            {% if current_user.admin %}   
            <th scope="col">User</th> 
            {% endif %} 
            <th scope="col">Book</th>       
            <th scope="col">Start date</th>
            {% if h %}
            <th scope="col">End date</th>
            {% else %}
            <th scope="col">
                Actions
                {% if current_user.admin %}
                <a class="action-icon text-decoration-none" href="{{ url_for('order_add') }}" title="Create order">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#plus-circle-fill"/>
                    </svg>
                </a>
                {% endif %} 
            </th>
            {% endif %} 
        </tr>
    </thead>
    <tbody>
    {% for item in data %}    
        <tr>          
            <th scope="row">{{ item.id }}</th> 
            {% if current_user.admin %}
                {% if not item.user %}
                <td>User was removed</td>
                {% else %}
                <td>{{ item.user[0].username }}</td>
                {% endif %}
            {% endif %}
            {% if not item.book %}
            <td>Book was removed</td>
            {% else %}
            <td>{{ item.book[0].name }}</td>
            {% endif %}
            <td>{{ item.start_date.strftime("%m/%d/%Y, %H:%M") }}</td>   
            {% if h %}
            <td>{{ item.end_date.strftime("%m/%d/%Y, %H:%M") }}</td>   
            {% else %}                      
            <td>
                <a class="action-icon text-decoration-none" href="{{ url_for('order_return', order_id=item.id) }}" title="Return">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#backspace-fill"/>
                    </svg>
                </a>       
            </td>
            {%endif%}
        </tr>
    {%endfor%}  
    </tbody>
</table>