{% from 'bootstrap5/form.html' import render_form_row %}
{% extends "base.html" %}

{% block title %}

<title>Orders</title>

{% endblock %}

{% block content %}

<legend>Orders</legend>
{% set data = orders %}
{% include "order_table.html" %}
{% if history %}
<legend>History</legend>
{% set data = history %}
{% set h = "True" %}
{% include "order_table.html" %}
{% endif %}

{% endblock %}