{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}

{% block title %}

<title>{{ text }}</title>

{% endblock %}

{% block content %}

<form method='POST'>
    <div class="col-md-4">
        <fieldset class="form-group">
            <legend>{{ text }}</legend>
            {{ render_form(form) }} 
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">{{ text }}</button>
        </div>
    </div>
</form>

{% endblock %}