<table class="table">  
    <thead>
        <tr class="table-active">    
            <th scope="col">Username</th>       
            <th scope="col">First name</th>      
            <th scope="col">Last name</th>       
            <th scope="col">Personal number</th>       
            <th scope="col">Address</th>       
            <th scope="col">Access</th>      
            <th scope="col">
                Actions
                <a class="action-icon text-decoration-none" href="{{ url_for('user_add') }}" title="Create user">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#plus-circle-fill"/>
                    </svg>
                </a>
            </th>       
        </tr>
    </thead>
    <tbody>
    {% for item in data %}    
        <tr>          
            <th scope="row">{{ item.username }}</th>            
            <td>{{ item.first_name }}</td>           
            <td>{{ item.last_name }}</td>            
            <td>{{ item.personal_number }}</td>            
            <td>{{ item.address }}</td>         
            <td>
            {% if item.admin %}
                <svg class="bi" width="1em" height="1em" fill="currentColor">
                    <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#person-heart"/>
                </svg>
            {% elif not item.ban %}
                <svg class="bi" width="1em" height="1em" fill="green">
                    <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#check-lg"/>
                </svg>
            {% else %}
                <svg class="bi" width="1em" height="1em" fill="red">
                    <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#x-lg"/>
                </svg>
            {% endif %}
            </td>          
            <td>
                {% if not item.approved %}
                <a class="action-icon text-decoration-none" href="{{ url_for('user_approve', user_id=item.id) }}" title="Approve user">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#check-lg"/>
                    </svg>
                </a>
                {%endif%}
                <a class="action-icon text-decoration-none" href="{{ url_for('user', user_id=item.id) }}" title="Show">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#eye-fill"/>
                    </svg>
                </a>
                <a class="action-icon text-decoration-none" href="{{ url_for('user_edit', user_id=item.id) }}" title="Edit">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#pencil-fill"/>
                    </svg>
                </a>
                {% if  not item.admin %}
                {% if item.ban %}
                <a class="action-icon text-decoration-none" href="{{ url_for('user_unban', user_id=item.id) }}" title="Unban user">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#person-check"/>
                    </svg>
                </a>
                {% else %}
                <a class="action-icon text-decoration-none" href="{{ url_for('user_ban', user_id=item.id) }}" title="Ban user">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#person-x"/>
                    </svg>
                </a>
                {% endif %}
                <a class="action-icon text-decoration-none" href="{{ url_for('user_delete', user_id=item.id) }}" title="Delete">
                    <svg class="bi" width="1em" height="1em" fill="currentColor">
                        <use xlink:href="/bootstrap/static/icons/bootstrap-icons.svg#trash-fill"/>
                    </svg>
                </a>   
                {% endif %}           
            </td>            
        </tr>
        {%endfor%}  
    </tbody>
</table>