{% extends "base.html" %}

{% block title %}

<title>{{ user.username }}</title>

{% endblock %}

{% block content %}

<h1>Info of user {{ user.username }}</h1>

<h2>First name</h2>
<p>{{ user.first_name }}</p>
<h2>Last name</h2>
<p>{{ user.last_name }}</p>
<h2>Personal number</h2>
<p>{{ user.personal_number }}</p>
<h2>Address</h2>
<p>{{ user.address }}</p>
<a class="btn btn-dark" href="{{ url_for('user_edit', user_id=user.id) }}">Edit user</a>

{% endblock %}