{% from 'bootstrap5/form.html' import render_form_row %}
{% extends "base.html" %}

{% block title %}

<title>Users</title>

{% endblock %}

{% block content %}
<legend>Search users</legend>
<form method='POST'>
    {{ form.csrf_token() }}
    {{ render_form_row([form.username, form.first_name, form.last_name, form.personal_number, form.address, form.sort_by, form.submit]) }}
</form>
{% if need_approval %}
<legend>Users which need approval</legend>
{% set data = need_approval %}
{% include "user_table.html" %}
<legend>Rest of users</legend>
{% else %}
<legend>Users</legend>
{% endif %}
{% set data = rest %}
{% include "user_table.html" %}

{% endblock %}